<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h4>联系我们</h4>
                    <ul>
                        <li>上海市松江区中山中路79号平高大厦1503室</li>
                        <li>Email: {$site_admin_email}</li>
                        <li>客服电话：021-67690832</li>
                        <li>市场经理电话：18918480686</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>企业文化</h4>
                    <p>
                        使命：云时代新商业软件领导者<br>
                        愿景：创新商业软件，成就客户价值<br>
                        目标：云供应链解决方案领导者<br>
                        价值观：敢想、敢干、敢当
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col col-social-icons">
                    <h4>关注我们</h4>
                    <img src="http://static.dev.izhuyan.com/izhuyan/images/QR code.png" width="100px;" height="100px;">
                    <span style="display: block;float: left;margin-left: 6px;margin-top:4px;position: absolute;font-size: small;">关注微信公众号
                    </span>
                    <img src="http://static.dev.izhuyan.com/izhuyan/images/mobile.png" style="margin-left: 10px;"
                         width="100px;"
                         height="100px;">
                    <span style="display: block;float: left;margin-left: 132px;margin-top:4px;position: absolute;font-size: small;">移动端下载</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>CEO寄语</h4>
                    <p>
                        在新零售时代，技术会驱动商业模式的变革，IT永远是非常重要的手段，只不过在新形势下，新的商业软件才是让企业进行商业变革的主力军。让我们共同颠覆传统 ，助力商业变革
                        <br/><br/>
                        <a href="javascript:;" class="btn btn-two">About us!</a>
                    </p>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="copyright">
                © 2015 上海竹燕信息技术有限公司 技术支持<br>
                沪ICP备14009037号-3
            </div>
        </div>
    </div>
</div>