<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="javascript:;">
                <img src="http://static.dev.izhuyan.com/izhuyan/images/logo.png" width="160px" height="50px"/>
            </a>
            <div class="nav-collapse collapse" id="main-menu">
                <ul id="" class="nav">
                    <li class="" id="menu-item-1"><a href="/" target="">首页</a></li>
                    <li class="" id="menu-item-5"><a href="/" target="">案例中心</a></li>
                    <li class="" id="menu-item-6"><a href="/" target="">解决方案</a></li>
                    <li class="" id="menu-item-10"><a href="/" target="">关于我们</a></li>
                    <li class="" id="menu-item-11"><a href="/" target="">行业分析</a></li>
                </ul>
                <div class="pull-right">
                    <a href="https://sso.dinghuo123.com/apply/apply?rc=00173" target="_blank">
                        <button class="btn btn-info" style="width: 120px !important;">免费开通</button>
                    </a>:
                    <a href="javascript:;" target="_blank">
                        <button class="btn btn-info" style="width: 120px !important;background: #FC9B0B;">立即登录</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>